<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cachua1/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,240},{258,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,129}}</string>
                <key>sourceSize</key>
                <string>{258,129}</string>
            </dict>
            <key>Cachua1/Layer 107 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>Cachua1/Layer 2 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>Cachua1/Layer 67 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{238,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,174}}</string>
                <key>sourceSize</key>
                <string>{238,174}</string>
            </dict>
            <key>Cachua1/Layer 68 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,370},{208,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,125}}</string>
                <key>sourceSize</key>
                <string>{208,125}</string>
            </dict>
            <key>Cachua1/Qua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,370},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Cachua1/Qua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,370},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Cachua1/Qua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,370},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Cachua1/Qua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,370},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Cachua1/ca chua copy 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{283,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,218}}</string>
                <key>sourceSize</key>
                <string>{283,218}</string>
            </dict>
            <key>Cachua1/ca chua copy 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,220},{250,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,188}}</string>
                <key>sourceSize</key>
                <string>{250,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29ca58a3c27fc367c49e7e9983b5c169:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
