<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trang thai xay dung4x4.psd Assets/Group 74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,505},{739,704}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,704}}</string>
                <key>sourceSize</key>
                <string>{739,704}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 273.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1034,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,533}}</string>
                <key>sourceSize</key>
                <string>{1034,533}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 274.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1},{839,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{839,503}}</string>
                <key>sourceSize</key>
                <string>{839,503}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 275 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 275 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,71},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 275 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 275 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,71},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 275 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,71},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/Layer 275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1},{113,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,69}}</string>
                <key>sourceSize</key>
                <string>{113,69}</string>
            </dict>
            <key>trang thai xay dung4x4.psd Assets/bongden.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,141},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce4b06aff33c6cf0bbba50607542d6b4:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
