<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Onggia1/Banchan_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,318},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>Onggia1/Banchan_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,172},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>Onggia1/Bantay_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,251},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>Onggia1/Bantay_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,353},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>Onggia1/Baptay_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,165},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>Onggia1/Baptay_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,165},{74,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>Onggia1/Cangchan_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,236},{46,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,29}}</string>
                <key>sourceSize</key>
                <string>{46,29}</string>
            </dict>
            <key>Onggia1/Canhtay_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,251},{46,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,69}}</string>
                <key>sourceSize</key>
                <string>{46,69}</string>
            </dict>
            <key>Onggia1/Dui_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,266},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>Onggia1/Dui_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,318},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>Onggia1/Eye_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,89},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>Onggia1/Face.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1},{134,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{134,125}</string>
            </dict>
            <key>Onggia1/Longmay_P1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,156},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>Onggia1/Longmay_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,190},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>Onggia1/Longmay_trai.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,127},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>Onggia1/Mat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,127},{129,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,123}}</string>
                <key>sourceSize</key>
                <string>{129,123}</string>
            </dict>
            <key>Onggia1/Mat_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,116},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>Onggia1/Matnham.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1},{64,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,12}}</string>
                <key>sourceSize</key>
                <string>{64,12}</string>
            </dict>
            <key>Onggia1/Mu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{171,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,82}}</string>
                <key>sourceSize</key>
                <string>{171,82}</string>
            </dict>
            <key>Onggia1/Mu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,87}}</string>
                <key>sourceSize</key>
                <string>{180,87}</string>
            </dict>
            <key>Onggia1/Than.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1},{179,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,163}}</string>
                <key>sourceSize</key>
                <string>{179,163}</string>
            </dict>
            <key>Onggia1/cangchan_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,206},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>Onggia1/canhtay_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,298},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>Onggia1/eye_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,103},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{12,8}</string>
            </dict>
            <key>Onggia1/eye_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,116},{11,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,8}}</string>
                <key>sourceSize</key>
                <string>{11,8}</string>
            </dict>
            <key>Onggia1/longmay_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,173},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5736a1e27718854ffd8c739dd8258331:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
