<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bagia1/Layer 1 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,54},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>Bagia1/Layer 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,54},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>Bagia1/Layer 100 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,62},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>Bagia1/Layer 100.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,62},{11,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,7}}</string>
                <key>sourceSize</key>
                <string>{11,7}</string>
            </dict>
            <key>Bagia1/Layer 101 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>Bagia1/Layer 101.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,18},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>Bagia1/Layer 102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,172},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>Bagia1/Layer 103.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,91},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>Bagia1/Layer 104.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1},{96,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>Bagia1/Layer 2 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,70},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>Bagia1/Layer 2 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,70},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>Bagia1/Layer 2 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,70},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>Bagia1/Layer 90.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,35},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>Bagia1/Layer 93 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,137},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>Bagia1/Layer 93 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,137},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>Bagia1/Layer 94.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,88},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>Bagia1/Layer 95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>Bagia1/Layer 96.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,60},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>Bagia1/Layer 98 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,35},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>Bagia1/Layer 98.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,35},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>Bagia1/Layer 99 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,60},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>Bagia1/Layer 99.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,85},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>tao total1/Layer 83 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{108,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,58}}</string>
                <key>sourceSize</key>
                <string>{108,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1404d8779ab5028c537ba64a010cff25:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
