<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cafe/Layer 0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,548},{83,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,86}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>tao total1/B_qua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,313},{150,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{150,142}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>tao total1/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1},{183,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,250}}</string>
                <key>sourceSize</key>
                <string>{183,250}</string>
            </dict>
            <key>tao total1/Layer 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,768},{138,164}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,164}}</string>
                <key>sourceSize</key>
                <string>{144,166}</string>
            </dict>
            <key>tao total1/Layer 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,254},{97,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,120}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>tao total1/Layer 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,458},{89,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,142}}</string>
                <key>sourceSize</key>
                <string>{99,142}</string>
            </dict>
            <key>tao total1/Layer 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,768},{219,240}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,240}}</string>
                <key>sourceSize</key>
                <string>{235,250}</string>
            </dict>
            <key>tao total1/Layer 73 copy 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{441,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,311}}</string>
                <key>sourceSize</key>
                <string>{441,311}</string>
            </dict>
            <key>tao total1/Layer 73 copy 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,464},{166,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,151}}</string>
                <key>sourceSize</key>
                <string>{166,151}</string>
            </dict>
            <key>tao total1/Layer 73 copy 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,768},{230,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,161}}</string>
                <key>sourceSize</key>
                <string>{230,161}</string>
            </dict>
            <key>tao total1/Layer 75 copy 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,635},{164,108}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{164,108}}</string>
                <key>sourceSize</key>
                <string>{174,112}</string>
            </dict>
            <key>tao total1/Layer 77 copy 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,458},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>tao total1/Layer 77 copy 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,375},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>tao total1/Layer 77 copy 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1},{386,252}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,252}}</string>
                <key>sourceSize</key>
                <string>{386,270}</string>
            </dict>
            <key>tao total1/Layer 77 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,504},{120,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>tao total1/Layer 77 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,635},{130,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,163}}</string>
                <key>sourceSize</key>
                <string>{130,163}</string>
            </dict>
            <key>tao total1/Layer 77 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,548},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>tao total1/Layer 78 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,313},{210,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,144}}</string>
                <key>sourceSize</key>
                <string>{210,144}</string>
            </dict>
            <key>tao total1/Layer 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,496},{195,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,271}}</string>
                <key>sourceSize</key>
                <string>{195,271}</string>
            </dict>
            <key>tao total1/Layer 83 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,252},{176,243}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,243}}</string>
                <key>sourceSize</key>
                <string>{176,275}</string>
            </dict>
            <key>tao total1/Layer 83 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,464},{170,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,91}}</string>
                <key>sourceSize</key>
                <string>{170,91}</string>
            </dict>
            <key>tao total1/Layer 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,254},{285,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,249}}</string>
                <key>sourceSize</key>
                <string>{285,249}</string>
            </dict>
            <key>tao total1/big_fruit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,313},{150,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{150,142}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>tao total1/caytao copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>tao total1/caytao copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,631},{59,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,134}}</string>
                <key>sourceSize</key>
                <string>{59,134}</string>
            </dict>
            <key>tao total1/caytao copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,313},{59,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:973e1eb09ca5f0e1485f46cc2d719348:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
