<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__dbTextures/trang thai hoan thanh/Layer 33_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,61},{178,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,63}}</string>
                <key>sourceSize</key>
                <string>{178,63}</string>
            </dict>
            <key>__dbTextures/trang thai hoan thanh/Layer 33_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,61},{178,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,63}}</string>
                <key>sourceSize</key>
                <string>{178,63}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Shape 2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2027,1},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Shape 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1},{77,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1034,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1034,533}}</string>
                <key>sourceSize</key>
                <string>{1034,533}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1363},{707,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,236}}</string>
                <key>sourceSize</key>
                <string>{707,236}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,848},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,535},{347,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,314}}</string>
                <key>sourceSize</key>
                <string>{347,314}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,646},{99,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,219}}</string>
                <key>sourceSize</key>
                <string>{99,219}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,320},{153,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,171}}</string>
                <key>sourceSize</key>
                <string>{153,171}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,686},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 204 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1123},{401,255}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{401,255}}</string>
                <key>sourceSize</key>
                <string>{459,255}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 204 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1546},{458,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,255}}</string>
                <key>sourceSize</key>
                <string>{458,255}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 204 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1086},{459,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,255}}</string>
                <key>sourceSize</key>
                <string>{459,255}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 211 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,280},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 211 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,240},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 211 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,646},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 211 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,725},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 217 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,492},{153,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,171}}</string>
                <key>sourceSize</key>
                <string>{153,171}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 219 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,866},{99,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,219}}</string>
                <key>sourceSize</key>
                <string>{99,219}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 220 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,807},{51,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,40}}</string>
                <key>sourceSize</key>
                <string>{51,40}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 220 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,764},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1},{912,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{912,300}}</string>
                <key>sourceSize</key>
                <string>{912,300}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,340},{26,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,105}}</string>
                <key>sourceSize</key>
                <string>{26,105}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,302},{819,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,575}}</string>
                <key>sourceSize</key>
                <string>{819,575}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,878},{734,484}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,484}}</string>
                <key>sourceSize</key>
                <string>{734,484}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,535},{587,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,632}}</string>
                <key>sourceSize</key>
                <string>{587,632}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1546},{451,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,222}}</string>
                <key>sourceSize</key>
                <string>{451,222}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Layer 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,88},{26,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,125}}</string>
                <key>sourceSize</key>
                <string>{26,125}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Shape 1 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,214},{26,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,125}}</string>
                <key>sourceSize</key>
                <string>{26,125}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Shape 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,61},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>trang thai hoan thanh.psd Assets/Shape 2 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1086},{758,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,384}}</string>
                <key>sourceSize</key>
                <string>{758,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45983439516dbf3fede94a6f664dfdbf:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
