<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bongngo.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,391},{113,112}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{113,112}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>bongngo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{111,112}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{111,112}}</string>
                <key>sourceSize</key>
                <string>{179,176}</string>
            </dict>
            <key>pop cornsets/Group 49/Group 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1},{264,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,346}}</string>
                <key>sourceSize</key>
                <string>{264,346}</string>
            </dict>
            <key>pop cornsets/Group 49/Group 481.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,266},{264,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,346}}</string>
                <key>sourceSize</key>
                <string>{264,346}</string>
            </dict>
            <key>pop cornsets/Group 49/Layer 242 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1},{194,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,138}}</string>
                <key>sourceSize</key>
                <string>{194,138}</string>
            </dict>
            <key>pop cornsets/Group 49/Layer 242 copy 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,196},{194,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,138}}</string>
                <key>sourceSize</key>
                <string>{194,138}</string>
            </dict>
            <key>pop cornsets/Group 49/Layer 243 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,504},{112,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,168}}</string>
                <key>sourceSize</key>
                <string>{112,168}</string>
            </dict>
            <key>pop cornsets/Group 49/Layer 244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{518,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,273}}</string>
                <key>sourceSize</key>
                <string>{518,273}</string>
            </dict>
            <key>vatpham.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,531},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32ff364e159200d21afca7afce333329:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
