<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GrassBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{763,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{763,382}}</string>
                <key>sourceSize</key>
                <string>{765,382}</string>
            </dict>
            <key>Mayxets/CamFront.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,784},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>Mayxets/CamMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1081},{37,79}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,53},{37,79}}</string>
                <key>sourceSize</key>
                <string>{211,173}</string>
            </dict>
            <key>Mayxets/CamMiddle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,745},{35,79}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{35,79}}</string>
                <key>sourceSize</key>
                <string>{211,173}</string>
            </dict>
            <key>Mayxets/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,384},{405,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,272}}</string>
                <key>sourceSize</key>
                <string>{405,272}</string>
            </dict>
            <key>Mayxets/OngXay.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,329},{243,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,325}}</string>
                <key>sourceSize</key>
                <string>{243,325}</string>
            </dict>
            <key>Mayxets/OngXay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1},{248,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,327}}</string>
                <key>sourceSize</key>
                <string>{248,327}</string>
            </dict>
            <key>Mayxets/Stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,384},{325,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,238}}</string>
                <key>sourceSize</key>
                <string>{325,238}</string>
            </dict>
            <key>Mayxets/Stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,623},{325,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,238}}</string>
                <key>sourceSize</key>
                <string>{325,238}</string>
            </dict>
            <key>Mayxets/ThanhTruc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,812},{200,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>Mayxets/ThanhTruc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,862},{198,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>Mayxets/ThucAn.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,657},{174,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,87}}</string>
                <key>sourceSize</key>
                <string>{174,87}</string>
            </dict>
            <key>may xay thuc pssets/Group 39/Layer 238 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,655},{260,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,128}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>may xay thuc pssets/Group 39/Layer 239.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,745},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>may xay thuc pssets/Group 39/Layer 242.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,784},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>may xay thuc pssets/Group 39/Layer 2421.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,657},{229,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,154}}</string>
                <key>sourceSize</key>
                <string>{229,154}</string>
            </dict>
            <key>may xay thuc pssets/Group 39/Layer 243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1157},{131,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,128}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>may xay thuc pssets/Group 39/Layer 244.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,939},{130,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,83}}</string>
                <key>sourceSize</key>
                <string>{130,83}</string>
            </dict>
            <key>roll1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,862},{116,136}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{116,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>roll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,885},{116,136}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{116,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>roll3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,923},{116,136}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{116,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>roll4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1040},{116,136}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{116,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>roll5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,973},{116,136}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{116,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>roll6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1002},{116,136}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{116,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vatpham.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,879},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>waterdrop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,923},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>waterdrop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,973},{85,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,45}}</string>
                <key>sourceSize</key>
                <string>{85,45}</string>
            </dict>
            <key>waterdrop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,842},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>xogoshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,979},{101,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{101,45}}</string>
                <key>sourceSize</key>
                <string>{117,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a86f1c414d84afad7408fa61552f905:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
