<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barn3/Group 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,385},{539,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,503}}</string>
                <key>sourceSize</key>
                <string>{539,503}</string>
            </dict>
            <key>Barn3/Layer 187 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,925},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Barn3/Layer 187 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,925},{97,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{97,105}</string>
            </dict>
            <key>Barn3/Layer 190 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{605,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,303}}</string>
                <key>sourceSize</key>
                <string>{605,303}</string>
            </dict>
            <key>Barn3/Layer 80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{767,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,383}}</string>
                <key>sourceSize</key>
                <string>{767,383}</string>
            </dict>
            <key>Barn3/Layer 81.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,925},{81,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,124}}</string>
                <key>sourceSize</key>
                <string>{81,124}</string>
            </dict>
            <key>Barn3/wind1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,925},{86,92}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{86,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:360fbf8e75368b215259b872f762faf4:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
