<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CayMiaAsset/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,521},{258,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,129}}</string>
                <key>sourceSize</key>
                <string>{258,129}</string>
            </dict>
            <key>CayMiaAsset/Layer 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,250},{196,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,91}}</string>
                <key>sourceSize</key>
                <string>{196,91}</string>
            </dict>
            <key>CayMiaAsset/Layer 57 copy 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,140},{196,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,109}}</string>
                <key>sourceSize</key>
                <string>{196,109}</string>
            </dict>
            <key>CayMiaAsset/Layer 57 copy 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,531},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>CayMiaAsset/Layer 57 copy 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{227,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,138}}</string>
                <key>sourceSize</key>
                <string>{227,138}</string>
            </dict>
            <key>CayMiaAsset/Layer 57 copy 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,342},{235,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,188}}</string>
                <key>sourceSize</key>
                <string>{235,188}</string>
            </dict>
            <key>CayMiaAsset/Layer 57 copy 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,276},{262,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,244}}</string>
                <key>sourceSize</key>
                <string>{262,244}</string>
            </dict>
            <key>CayMiaAsset/caymia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{277,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,274}}</string>
                <key>sourceSize</key>
                <string>{277,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58b6d406c5765bc7fd1a95ea1d330cff:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
