<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ngo/Layer 107 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,496},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>Ngo/Layer 11 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,360},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>Ngo/Layer 11 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,394},{31,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,56}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Ngo/Layer 11 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,463},{33,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,58}}</string>
                <key>sourceSize</key>
                <string>{33,58}</string>
            </dict>
            <key>Ngo/Layer 11 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,468},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>Ngo/Layer 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,426},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>Ngo/Layer 2 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,420},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>Ngo/Odat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,230},{258,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,129}}</string>
                <key>sourceSize</key>
                <string>{258,129}</string>
            </dict>
            <key>Ngo/bapngo.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>Ngo/gocngo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,360},{201,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,69}}</string>
                <key>sourceSize</key>
                <string>{201,69}</string>
            </dict>
            <key>Ngo/gocngo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,420},{193,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,75}}</string>
                <key>sourceSize</key>
                <string>{193,75}</string>
            </dict>
            <key>Ngo/hatgiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{184,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,101}}</string>
                <key>sourceSize</key>
                <string>{184,101}</string>
            </dict>
            <key>Ngo/hoango.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{259,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,228}}</string>
                <key>sourceSize</key>
                <string>{259,228}</string>
            </dict>
            <key>Ngo/thanngo.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,250},{233,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,169}}</string>
                <key>sourceSize</key>
                <string>{233,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f33045ae3598d481b4f67c10e135e29d:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
