<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DauHL1/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,277},{211,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,113}}</string>
                <key>sourceSize</key>
                <string>{211,113}</string>
            </dict>
            <key>DauHL1/Layer 107 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,277},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>DauHL1/Layer 2 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,277},{47,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>DauHL1/Layer 55 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{256,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,129}}</string>
                <key>sourceSize</key>
                <string>{256,129}</string>
            </dict>
            <key>DauHL1/Layer 57 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1},{229,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,149}}</string>
                <key>sourceSize</key>
                <string>{229,149}</string>
            </dict>
            <key>DauHL1/Layer 58 copy 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{268,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,181}}</string>
                <key>sourceSize</key>
                <string>{268,181}</string>
            </dict>
            <key>DauHL1/Layer 58 copy 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,313},{255,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,167}}</string>
                <key>sourceSize</key>
                <string>{255,167}</string>
            </dict>
            <key>DauHL1/Layer 58 copy 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,151},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>DauHL1/Layer 59 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,151},{212,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,125}}</string>
                <key>sourceSize</key>
                <string>{212,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23652c08f4c3377acbf6c09cddee28c8:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
