<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cherry1/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1},{233,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,271}}</string>
                <key>sourceSize</key>
                <string>{233,271}</string>
            </dict>
            <key>Cherry1/Layer 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,235},{112,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,206}}</string>
                <key>sourceSize</key>
                <string>{112,206}</string>
            </dict>
            <key>Cherry1/Layer 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1},{214,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,234}}</string>
                <key>sourceSize</key>
                <string>{214,234}</string>
            </dict>
            <key>Cherry1/Layer 113 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,314},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>Cherry1/Layer 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{326,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,192}}</string>
                <key>sourceSize</key>
                <string>{326,192}</string>
            </dict>
            <key>Cherry1/Layer 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,328},{154,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,101}}</string>
                <key>sourceSize</key>
                <string>{154,101}</string>
            </dict>
            <key>Cherry1/Layer 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,493},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>Cherry1/Layer 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,299},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>Cherry1/Layer 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,543},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>Cherry1/Layer 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,462},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>Cherry1/Layer 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,438},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>Cherry1/Layer 83 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,216},{208,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,111}}</string>
                <key>sourceSize</key>
                <string>{208,111}</string>
            </dict>
            <key>Cherry1/Layer 84 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,370},{48,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,128}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>Cherry1/Layer 85 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,410},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,449},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,357},{127,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{127,98}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,532},{86,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,69}}</string>
                <key>sourceSize</key>
                <string>{86,69}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,534},{119,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,96}}</string>
                <key>sourceSize</key>
                <string>{119,96}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,623},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,507},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,155},{201,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,165}}</string>
                <key>sourceSize</key>
                <string>{201,165}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,499},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,534},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,529},{69,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,88}}</string>
                <key>sourceSize</key>
                <string>{69,88}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1},{181,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,153}}</string>
                <key>sourceSize</key>
                <string>{181,153}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,462},{87,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,69}}</string>
                <key>sourceSize</key>
                <string>{87,69}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,342},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,328},{120,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,456},{125,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,77}}</string>
                <key>sourceSize</key>
                <string>{125,77}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,430},{138,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,81}}</string>
                <key>sourceSize</key>
                <string>{138,81}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,342},{114,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,67}}</string>
                <key>sourceSize</key>
                <string>{114,67}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,235},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,194},{104,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{104,73}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{250,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,147}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>Cherry1/Layer 86 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,384},{108,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,97}}</string>
                <key>sourceSize</key>
                <string>{108,97}</string>
            </dict>
            <key>Cherry1/Layer 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,348},{113,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,203}}</string>
                <key>sourceSize</key>
                <string>{113,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38fa63e585928d2d7b3f482497d0d024:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
