<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cuu1/Layer 10 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,112},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>Cuu1/Layer 11 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,232},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>Cuu1/Layer 11 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,179},{6,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{6,16}</string>
            </dict>
            <key>Cuu1/Layer 12 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,225},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>Cuu1/Layer 12 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,220},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>Cuu1/Layer 12 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,112},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>Cuu1/Layer 12 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,225},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>Cuu1/Layer 12 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,220},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>Cuu1/Layer 12 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,196},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>Cuu1/Layer 15 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,182},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>Cuu1/Layer 16 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,231},{10,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,17}}</string>
                <key>sourceSize</key>
                <string>{10,17}</string>
            </dict>
            <key>Cuu1/Layer 16 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,124},{6,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,17}}</string>
                <key>sourceSize</key>
                <string>{6,17}</string>
            </dict>
            <key>Cuu1/Layer 17 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,244},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>Cuu1/Layer 17 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,220},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>Cuu1/Layer 17 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,220},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>Cuu1/Layer 17 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>Cuu1/Layer 17 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,220},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>Cuu1/Layer 17 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,232},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>Cuu1/Layer 18 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,211},{11,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{11,20}</string>
            </dict>
            <key>Cuu1/Layer 19 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,225},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>Cuu1/Layer 19 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,150},{5,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,13}}</string>
                <key>sourceSize</key>
                <string>{5,13}</string>
            </dict>
            <key>Cuu1/Layer 2 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,129},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>Cuu1/Layer 2 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,156},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>Cuu1/Layer 2 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1},{11,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,30}}</string>
                <key>sourceSize</key>
                <string>{11,30}</string>
            </dict>
            <key>Cuu1/Layer 2 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,211},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>Cuu1/Layer 20 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>Cuu1/Layer 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,72},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>Cuu1/Layer 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,74},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>Cuu1/Layer 24 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,185},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>Cuu1/Layer 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,158},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>Cuu1/Layer 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{123,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,128}}</string>
                <key>sourceSize</key>
                <string>{123,128}</string>
            </dict>
            <key>Cuu1/Layer 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>Cuu1/Layer 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,158},{26,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,9}}</string>
                <key>sourceSize</key>
                <string>{26,9}</string>
            </dict>
            <key>Cuu1/Layer 37 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,103},{41,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,25}}</string>
                <key>sourceSize</key>
                <string>{41,25}</string>
            </dict>
            <key>Cuu1/Layer 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,101},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>Cuu1/Layer 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>Cuu1/Layer 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,74},{37,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,71}}</string>
                <key>sourceSize</key>
                <string>{37,71}</string>
            </dict>
            <key>Cuu1/Layer 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,32},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>Cuu1/Layer 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{70,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,40}</string>
            </dict>
            <key>Cuu1/Layer 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,211},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>Cuu1/Layer 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,150},{18,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,5}}</string>
                <key>sourceSize</key>
                <string>{18,5}</string>
            </dict>
            <key>Cuu1/Layer 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,125},{19,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,4}}</string>
                <key>sourceSize</key>
                <string>{19,4}</string>
            </dict>
            <key>Cuu1/Layer 8 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,129},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>Cuu1/Layer 9 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,231},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>Cuu1/Layer 9 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,203},{7,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,16}}</string>
                <key>sourceSize</key>
                <string>{7,16}</string>
            </dict>
            <key>Cuu1/momduoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,112},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f57ca5b70edde9297d0fa2e5f19304aa:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
