<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Noda1/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,290},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>Noda1/Layer 123.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,428},{101,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,76}}</string>
                <key>sourceSize</key>
                <string>{101,76}</string>
            </dict>
            <key>Noda1/Layer 124.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,487},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>Noda1/Layer 126.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,428},{94,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>Noda1/Layer 127.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,196},{322,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,115}}</string>
                <key>sourceSize</key>
                <string>{322,115}</string>
            </dict>
            <key>Noda1/Layer 128.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,105},{179,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,128}}</string>
                <key>sourceSize</key>
                <string>{179,128}</string>
            </dict>
            <key>Noda1/Layer 129.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,395},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>Noda1/Layer 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,438},{61,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{61,48}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>Noda1/Layer 21 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1},{406,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,194}}</string>
                <key>sourceSize</key>
                <string>{406,194}</string>
            </dict>
            <key>Noda1/Layer 21 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{419,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{419,227}}</string>
                <key>sourceSize</key>
                <string>{425,227}</string>
            </dict>
            <key>Noda1/Layer 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,312},{232,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>Noda1/Layer 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,114},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>Noda1/Layer 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,234},{170,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{170,160}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>Noda1/Layer 59 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,571},{93,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,63}}</string>
                <key>sourceSize</key>
                <string>{93,63}</string>
            </dict>
            <key>Noda1/Layer 59 copy 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,522},{69,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,48}}</string>
                <key>sourceSize</key>
                <string>{69,48}</string>
            </dict>
            <key>Noda1/Layer 59 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,384},{77,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,53}}</string>
                <key>sourceSize</key>
                <string>{77,53}</string>
            </dict>
            <key>Noda1/Layer 59 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,375},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>Noda1/Layer 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,503},{43,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>Noda1/Layer 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,489},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>Noda1/Layer 95 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1},{194,103}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{194,103}}</string>
                <key>sourceSize</key>
                <string>{198,113}</string>
            </dict>
            <key>Noda1/Layer 95 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,503},{47,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{47,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>Noda1/Layer 97 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,447},{38,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>Noda1/Layer 99 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,229},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Noda1/Layer 99 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,196},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>Noda1/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,229},{37,318}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,108},{37,318}}</string>
                <key>sourceSize</key>
                <string>{77,452}</string>
            </dict>
            <key>danho/Layer 111.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,489},{125,90}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{125,90}}</string>
                <key>sourceSize</key>
                <string>{153,108}</string>
            </dict>
            <key>danho/Layer 112.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,468},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{45,37}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>danho/Layer 115 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,334},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>danho/Layer 115.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,395},{156,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,93}}</string>
                <key>sourceSize</key>
                <string>{156,93}</string>
            </dict>
            <key>danho/Layer 116.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,234},{23,17}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{23,17}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>danho/Layer 117.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,375},{198,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,52}}</string>
                <key>sourceSize</key>
                <string>{198,52}</string>
            </dict>
            <key>danho/Layer 118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,105},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>danho/Layer 119.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,514},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>danho/Layer 21 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{309,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{309,166}}</string>
                <key>sourceSize</key>
                <string>{329,170}</string>
            </dict>
            <key>danho/Layer 59 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,361},{208,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{208,92}}</string>
                <key>sourceSize</key>
                <string>{208,102}</string>
            </dict>
            <key>danho/Layer 95 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,312},{79,71}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{103,75}</string>
            </dict>
            <key>danho/Layer 95 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,431},{38,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{38,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>khoinho/Layer 99 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,229},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>khoinho/Layer 99 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,196},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>khoinho/Layer 99.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,378},{119,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a32187b072917f82ec9c182ded3ba61:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
