<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caroot0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{205,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,110}}</string>
                <key>sourceSize</key>
                <string>{205,110}</string>
            </dict>
            <key>caroot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,266},{193,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,136}}</string>
                <key>sourceSize</key>
                <string>{193,136}</string>
            </dict>
            <key>caroot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{214,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,131}}</string>
                <key>sourceSize</key>
                <string>{214,131}</string>
            </dict>
            <key>caroot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{217,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,157}}</string>
                <key>sourceSize</key>
                <string>{217,157}</string>
            </dict>
            <key>field.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,129}}</string>
                <key>sourceSize</key>
                <string>{256,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caroot.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:032ffef5616d15dfdd80199ef168a7f6:1/1$</string>
            <key>textureFileName</key>
            <string>caroot.png</string>
        </dict>
    </dict>
</plist>
