<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bauti.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,419},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>Bo No/Symbol 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,450},{67,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>Bo No/Symbol 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,73},{89,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,94}}</string>
                <key>sourceSize</key>
                <string>{89,98}</string>
            </dict>
            <key>Bo No/Symbol 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,163},{36,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>Bo No/Symbol 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,287},{89,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{89,72}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>Bo No/Symbol 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{153,151}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,151}}</string>
                <key>sourceSize</key>
                <string>{155,151}</string>
            </dict>
            <key>Bo thu hoach/Symbol 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,391},{65,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,44}}</string>
                <key>sourceSize</key>
                <string>{67,46}</string>
            </dict>
            <key>Bo thu hoach/Symbol 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,358},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>Bo thu hoach/Symbol 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,315},{34,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>Bo thu hoach/Symbol 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,360},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>Bo thu hoach/Symbol 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,203},{122,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,83}}</string>
                <key>sourceSize</key>
                <string>{122,83}</string>
            </dict>
            <key>Bo thu hoach/Symbol 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,163},{39,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{39,22}}</string>
                <key>sourceSize</key>
                <string>{45,30}</string>
            </dict>
            <key>Bo thu hoach/Symbol 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,287},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>Bo thu hoach/Symbol 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,365},{47,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>Bo thu hoach/Symbol 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{90,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,67}}</string>
                <key>sourceSize</key>
                <string>{94,71}</string>
            </dict>
            <key>Bo thuong/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,419},{18,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>Bo thuong/Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{47,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{47,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>Bo thuong/Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{75,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{75,67}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>Bo thuong/Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,352},{50,12}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,12}}</string>
                <key>sourceSize</key>
                <string>{52,18}</string>
            </dict>
            <key>Bo thuong/Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{95,71}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,71}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>Bo thuong/Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,163},{45,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>Bo thuong/Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,289},{35,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{35,14}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>Bo thuong/Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{27,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>Bo thuong/Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{126,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{126,103}}</string>
                <key>sourceSize</key>
                <string>{130,113}</string>
            </dict>
            <key>Bo thuong/Symbol 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,392},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Bo thuong/Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,484},{44,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,22}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>Bo thuong/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,325},{14,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>Bo thuong/Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,153},{49,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{49,26}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>Bo thuong/Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,419},{16,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,25}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>Bo thuong/Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,419},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Bo thuong/Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,457},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,19}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>Bo thuong/Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,457},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>Bo thuong/Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,257},{35,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,31}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>Bo thuong/Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,360},{18,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>Bo thuong/Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{25,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{25,66}}</string>
                <key>sourceSize</key>
                <string>{29,68}</string>
            </dict>
            <key>luoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,450},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>mat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,347},{33,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,10}}</string>
                <key>sourceSize</key>
                <string>{37,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddfea1da00a4f5e25652e8609f1dce73:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
