<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Noda1/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,234},{70,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,81}}</string>
                <key>sourceSize</key>
                <string>{70,81}</string>
            </dict>
            <key>Noda1/Layer 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1},{201,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,102}}</string>
                <key>sourceSize</key>
                <string>{201,102}</string>
            </dict>
            <key>Noda1/Layer 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,466},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>Noda1/Layer 21 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1},{235,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,126}}</string>
                <key>sourceSize</key>
                <string>{235,126}</string>
            </dict>
            <key>Noda1/Layer 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1},{232,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>Noda1/Layer 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,486},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>Noda1/Layer 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{119,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>Noda1/Layer 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,320},{145,122}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{145,122}}</string>
                <key>sourceSize</key>
                <string>{201,148}</string>
            </dict>
            <key>Noda1/Layer 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,486},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>Noda1/Layer 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,166},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>Noda1/Layer 95 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,104},{118,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,61}}</string>
                <key>sourceSize</key>
                <string>{118,61}</string>
            </dict>
            <key>Noda1/Layer 95 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,484},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>Noda1/Layer 99 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,224},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>Noda1/Layer 99 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,237},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>Noda1/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{37,318}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,108},{37,318}}</string>
                <key>sourceSize</key>
                <string>{77,452}</string>
            </dict>
            <key>danho/Layer 111.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,98},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>danho/Layer 112.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,486},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>danho/Layer 115 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,466},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>danho/Layer 115.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>danho/Layer 116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,486},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>danho/Layer 117.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,320},{163,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,43}}</string>
                <key>sourceSize</key>
                <string>{163,43}</string>
            </dict>
            <key>danho/Layer 118.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,466},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>danho/Layer 119.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,484},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>danho/Layer 21 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,320},{165,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,88}}</string>
                <key>sourceSize</key>
                <string>{165,88}</string>
            </dict>
            <key>danho/Layer 59 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,176},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{118,53}</string>
            </dict>
            <key>danho/Layer 95 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,237},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>danho/Layer 95 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>khoinho/Layer 99 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,224},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>khoinho/Layer 99 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,237},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>khoinho/Layer 99.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{119,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1315dc8977e0bad6c65776eca1cba378:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
