<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Xe_1/Ellipse 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,609},{280,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,268}}</string>
                <key>sourceSize</key>
                <string>{280,268}</string>
            </dict>
            <key>Xe_1/Layer 12 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1113},{162,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,160}</string>
            </dict>
            <key>Xe_1/Layer 12 copy 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,917},{150,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>Xe_1/Layer 12 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,878},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>Xe_1/Layer 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,184},{315,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,163}}</string>
                <key>sourceSize</key>
                <string>{315,163}</string>
            </dict>
            <key>Xe_1/Layer 30 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,103},{323,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,306}}</string>
                <key>sourceSize</key>
                <string>{323,306}</string>
            </dict>
            <key>Xe_1/Layer 55.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1099},{110,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,68}}</string>
                <key>sourceSize</key>
                <string>{110,68}</string>
            </dict>
            <key>Xe_1/Layer 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,878},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Xe_1/Layer 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{518,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,240}}</string>
                <key>sourceSize</key>
                <string>{518,240}</string>
            </dict>
            <key>Xe_1/Layer 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1203},{80,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,39}}</string>
                <key>sourceSize</key>
                <string>{80,39}</string>
            </dict>
            <key>Xe_1/Layer 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,984},{118,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,114}}</string>
                <key>sourceSize</key>
                <string>{118,114}</string>
            </dict>
            <key>Xe_1/Layer 63 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,646},{234,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,148}}</string>
                <key>sourceSize</key>
                <string>{234,148}</string>
            </dict>
            <key>Xe_1/Layer 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,942},{67,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,53}}</string>
                <key>sourceSize</key>
                <string>{67,53}</string>
            </dict>
            <key>Xe_1/Layer 65 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1143},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>Xe_1/Layer 65 copy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1031},{111,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,87}}</string>
                <key>sourceSize</key>
                <string>{111,87}</string>
            </dict>
            <key>Xe_1/Layer 70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,719},{269,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,224}}</string>
                <key>sourceSize</key>
                <string>{269,224}</string>
            </dict>
            <key>Xe_1/Layer 71.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,410},{302,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,198}}</string>
                <key>sourceSize</key>
                <string>{302,198}</string>
            </dict>
            <key>Xe_1/Layer 72.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,795},{238,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,121}}</string>
                <key>sourceSize</key>
                <string>{238,121}</string>
            </dict>
            <key>Xe_1/Layer 77 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,440},{102,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,235}}</string>
                <key>sourceSize</key>
                <string>{102,235}</string>
            </dict>
            <key>Xe_1/Layer 77 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,543},{102,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,235}}</string>
                <key>sourceSize</key>
                <string>{102,235}</string>
            </dict>
            <key>Xe_1/Layer 79.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,103},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>Xe_1/Layer 7911.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{533,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,197}}</string>
                <key>sourceSize</key>
                <string>{533,197}</string>
            </dict>
            <key>Xe_1/Layer 80.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,500},{191,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,196}}</string>
                <key>sourceSize</key>
                <string>{191,196}</string>
            </dict>
            <key>Xe_1/Layer 81.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,692},{249,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,202}}</string>
                <key>sourceSize</key>
                <string>{249,202}</string>
            </dict>
            <key>Xe_1/Layer 82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{518,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,240}}</string>
                <key>sourceSize</key>
                <string>{518,240}</string>
            </dict>
            <key>Xe_1/Layer 83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1184},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>Xe_1/Layer 831.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1108},{157,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,47}}</string>
                <key>sourceSize</key>
                <string>{157,47}</string>
            </dict>
            <key>Xe_1/Layer 84 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1267},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>Xe_1/Layer 84.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1203},{82,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{82,102}</string>
            </dict>
            <key>Xe_1/Layer 85.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,971},{88,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,59}}</string>
                <key>sourceSize</key>
                <string>{88,59}</string>
            </dict>
            <key>Xe_1/Layer 8511.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1},{454,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,101}}</string>
                <key>sourceSize</key>
                <string>{454,101}</string>
            </dict>
            <key>Xe_1/Layer 86.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,944},{129,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,39}}</string>
                <key>sourceSize</key>
                <string>{129,39}</string>
            </dict>
            <key>Xe_1/Layer 87.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1068},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{136,134}</string>
            </dict>
            <key>Xe_1/Layer 88.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1074},{107,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,54}}</string>
                <key>sourceSize</key>
                <string>{107,54}</string>
            </dict>
            <key>Xe_1/Layer 881.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1010},{97,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,49}}</string>
                <key>sourceSize</key>
                <string>{97,49}</string>
            </dict>
            <key>Xe_1/Layer 8811.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,440},{278,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,282}}</string>
                <key>sourceSize</key>
                <string>{278,282}</string>
            </dict>
            <key>Xe_1/Layer 89.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1168},{107,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,104}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>Xe_1/Layer 891.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1152},{115,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,112}}</string>
                <key>sourceSize</key>
                <string>{115,112}</string>
            </dict>
            <key>Xe_1/Layer 8911.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1},{29,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,114}}</string>
                <key>sourceSize</key>
                <string>{29,114}</string>
            </dict>
            <key>Xe_1/Layer 90.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1273},{37,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>Xe_1/Layer 91.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1255},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>Xe_1/Layer 92.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,917},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>Xe_1/Layer 95.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1273},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Xe_1/Layer 96.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1250},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>Xe_1/Layer 97.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1048},{103,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,80}}</string>
                <key>sourceSize</key>
                <string>{103,80}</string>
            </dict>
            <key>Xe_1/Layer 98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1049},{137,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,134}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>Xe_1/Rounded Rectangle 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,942},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>Xe_1/Shape 2 copy 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1074},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>Xe_1/Shape 2 copy 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,944},{104,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,138}}</string>
                <key>sourceSize</key>
                <string>{104,138}</string>
            </dict>
            <key>Xe_1/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1350},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Xe_1/Symbol 1111.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1182},{80,67}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{80,67}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>Xe_1/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1182},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>Xe_1/flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1266},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d4890243e3287aee356eac955d6956c:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
